from utils.primitives import Line, Circle, Rectangle, Stop
from utils.modding import initialize, finalize

initialize()

#$#$ Program START
{%- for item in items %}
Rectangle({{item.c1}}, {{item.l}}, {{item.b}}, {{item.theta}})
{%- endfor %}
Stop()
#$#$ Program END

finalize(fname=__file__)
