{% extends "basic.py.jinja" %}
{% block program %}
{%- for item in items %}
Circle(({{item.x}}, {{item.y}}), {{item.r}})
Line(({{item.x - item.r}},  {{item.y - item.r}}), ({{item.x + item.r}}, {{item.y - item.r}}))
Line(({{item.x + item.r}},  {{item.y - item.r}}), ({{item.x + item.r}}, {{item.y + item.r}}))
Line(({{item.x + item.r}},  {{item.y + item.r}}), ({{item.x - item.r}}, {{item.y + item.r}}))
Line(({{item.x - item.r}},  {{item.y + item.r}}), ({{item.x - item.r}}, {{item.y - item.r}}))
{%- endfor %}
Stop()
{% endblock program %}
