{% extends "basic.py.jinja" %}
{% block imports %}
{{ super() }}
from flatland.utils.primitives import StickFigure
{% endblock imports %}
{% block program %}
{% for item in items %}
StickFigure(head={{item.head}}, torso1={{item.torso1}}, torso2={{item.torso2}}, arms={{item.arms}}, legs={{item.legs}})
{% endfor %}
Stop()
{% endblock program %}
